{% extends "base.html" %}
{% block title %}Aprende Euskera{% endblock %}
{% block extra_css %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
{% endblock %}

{% block content %}
<section class="hero">
  <div class="hero-text">
    <h1>
      <span class="headline-line1">APRENDE <span  class="headline-line1">ESPAÑOL</span><br>
      <span class="headline-line2">APRENDE <span  class="headline-line1">ESPAÑOL</span><br>
    </h1>
    <h3>MINTZAPRAKTIKA</h3>
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit...</p>
    <p>Ut wisi enim ad minim veniam, quis nostrud exerci tation...</p>
    <div class="hero-buttons">
      <button class="contact-btn">CONTACTO</button>
      <span class="lang-flags">🇪🇺 EUSKERA</span>
    </div>
  </div>

  <div class="hero-image">
    <img class="tree-bg" src="{{ url_for('static', filename='img/tree6.png') }}" alt="Tree">
    <img class="portrait" src="{{ url_for('static', filename='img/kristine.png') }}" alt="Kristiñe">
    <div class="signature">Kris. Azpiazu</div>
  </div>
</section>

<section class="content-section">
  <div class="card">
    <h4>➕ NIVEL DE EUSKERA</h4>
    <p>Aquí indica los títulos o si es idioma natal.</p>
    <p>Lorem ipsum dolor sit amet...</p>
  </div>
  <div class="card">
    <h4>EXPERIENCIA</h4>
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
  </div>
</section>


<section class="content-section">
  <div class="left-panel">
    <h4>➕ EUSKERA</h4>
    <p>Aquí puedes decir los motivos por los que quieres impartir euskera...</p>
    <p>Texto de relleno...</p>
    <div class="signature">Kris. Azpiazu</div>
  </div>
  <div class="right-panel">
    <div class="price-box">
      <div class="option">CLASE VIRTUAL <span>50€</span></div>
      <div class="option">CLASE PRESENCIAL <span>60€</span></div>
      <p>CLASES EUSKERA | REFERENCIA</p>
      <button class="contact-btn">CONTRATAR</button>
    </div>
  </div>
</section>
{% endblock %}
